<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form class="form holderlogin">
          <div class="row">
            <div class="col-11">
              <h3>Consumer Login</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-5 errmsg"> <br />
              <label id="lblName">{{errorMsg}}<br /><br /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="holderType">Consumer Type </label>
            </div>
            <div class="col-5">
              <select name="holderType" [(ngModel)]="holderType">
                <option value="milkBank"> Milk Bank </option>
                <option value="baby">Baby / Patient</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="holderId">Consumer ID</label></div>
            <div class="col-5">
              <input [(ngModel)]="holderId" name="holderId" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <label for="holderPassword">Password</label></div>
            <div class="col-5">
              <input [(ngModel)]="holderPassword" name="holderPassword" type="password" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="holderlogin($event)">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
