<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form class="form donorlogin">
          <div class="row">
            <div class="col-11">
              <h3>Donor Login</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-5 errmsg"> <br />
              <label id="lblName">{{errorMsg}}<br /><br /></label>
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <label for="donorId">Donor ID</label></div>
            <div class="col-5">
              <input [(ngModel)]="donorId" name="donorId" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <label for="donorPassword">Password</label></div>
            <div class="col-5">
              <input [(ngModel)]="donorPassword" name="donorPassword" type="password" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="donorlogin($event)">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
