<div id="holder-details" class="panel panel-default">
  <div class="panel-heading">
    <h3>Consumer Details</h3>
  </div>
  <div class="panel-body">
    <div class="col-11">
      <div>Consumer Name: {{ holder.holderName}}</div>
      <div>Consumer ID: {{ holder.holderId }} </div>
      <div>Consumer Type: {{ holder.holderType }} </div>
      <!-- <div>Current Milk Capacity: {{ donor.physicianApproval }} </div> -->

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Transfer List</h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngFor="let transfer of holderTransferGroup; let i = index">
      <div>
        <span>{{transfer.milkBarCode}}</span>
        <input (click)="acceptmilk($event,i)" class="accept btn btn-primary" type="button" value="Accept">
        <input (click)="rejectmilk($event,i)" class="reject btn btn-caution" type="button" value="Reject">
      </div>
    </div>
  </div>

  <div id="transferPanel" *ngIf="showTransfer" class="panel panel-default">
    <div class="panel-heading">
      <h3>Transfer Milk</h3>
    </div>
    <div class="panel-body">
      <form class="form donorregister form-horizontal">
        <div class="row">
          <div class="col-5 errmsg"> <br />
            <label id="lblName">{{transferErrorMsg}}<br /><br /></label>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="selectedMilkBarCode">Milk Bar Code</label>
          </div>
          <div class="col-5">
            <input [(ngModel)]="selectedMilkBarCode" name="selectedMilkBarCode" type="text" maxlength="60" style="width: 300px;"
              placeholder="Milk Code" />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="holder">Transfer To</label>
          </div>
          <div class="col-5">
            <select name="holder" [(ngModel)]="selectedHolderId">
              <option value=""> --- Select Baby/Patient --- </option>
              <option *ngFor="let holder of holderGroup" value={{holder.holderId}}>
                {{holder.holderId}}
              </option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12 text-center">
            <button (click)="transfermilk($event)">Transfer Milk</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="holder-milk-details" class="panel panel-default">
    <div class="panel-heading">
      <h3>Available Milk Details</h3>
    </div>
    <div class="panel-body">
      <div class="row" *ngFor="let milk of fullMilkList">
        <div>
          <div>MILK BAR CODE: {{ milk.milkBarCode}}</div>
          <div>MILK QUANTITY: {{ milk.quantity }} </div>
          <div>MILK DONOR ID: {{ milk.donorId }} </div>
        </div>
      </div>
    </div>
  </div>
