<div id="donor-details" class="panel panel-default">
  <div class="panel-heading">
    <h3>Donor Details</h3>
  </div>
  <div class="panel-body">
    <div class="col-11">
      <div>Donor Name: {{ donor.donorName}}</div>
      <div>Donor ID: {{ donor.donorId }} </div>
      <div>Donor Age: {{ donor.donorAge }}</div>
      <div>Fitness Report: {{ donor.fitnessReport }} </div>
      <div>Physician Approval: {{ donor.physicianApproval }} </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Donate Milk</h3>
  </div>
  <div class="panel-body">
    <form class="form donorregister form-horizontal">
      <div class="row">
        <div class="col-5 errmsg"> <br />
          <label id="lblName">{{donateErrorMsg}}<br /><br /></label>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <label for="milkBarCode">Milk Bar Code</label>
        </div>
        <div class="col-5">
          <input [(ngModel)]="milkBarCode" name="milkBarCode" type="text" maxlength="60" style="width: 300px;"
            placeholder="Milk Code" />
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <label for="quantity">Milk Quantity</label>
        </div>
        <div class="col-5">
          <input [(ngModel)]="quantity" name="quantity" type="number" maxlength="60" style="width: 300px;" placeholder="Enter milk quantity in mL" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12 text-center">
          <button (click)="donatemilk($event)">Donate Milk</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Transfer Milk</h3>
  </div>
  <div class="panel-body">
    <form class="form donorregister form-horizontal">
      <div class="row">
        <div class="col-5 errmsg"> <br />
          <label id="lblName">{{transferErrorMsg}}<br /><br /></label>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <label for="selectedMilkBarCode">Milk Bar Code</label>
        </div>
        <div class="col-5">
          <input [(ngModel)]="selectedMilkBarCode" name="selectedMilkBarCode" type="text" maxlength="60" style="width: 300px;"
            placeholder="Milk Code" />
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <label for="holder">Transfer To</label>
        </div>
        <div class="col-5">
          <select name="holder" [(ngModel)]="selectedHolderId">
            <option value=""> --- Select Holder --- </option>
            <option *ngFor="let holder of holderGroup" value={{holder.holderId}}>
              {{holder.holderId}}
            </option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12 text-center">
          <button (click)="transfermilk($event)">Transfer Milk</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="donor-milk-details" class="panel panel-default">
  <div class="panel-heading">
    <h3>Available Milk Details</h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngFor="let milk of fullMilkList">
      <div>
        <div>MILK BAR CODE: {{ milk.milkBarCode}}</div>
        <div>MILK QUANTITY: {{ milk.quantity }} </div>
        
      </div>
    </div>
  </div>
</div>